mergedeep==1.3.4
contourpy==1.3.2
pyobjc-framework-Cocoa==12.1
lazy_loader==0.4
GitPython==3.1.45
cloudpickle==3.1.2
async-timeout==5.0.1
requests==2.32.5
rerun-sdk==0.26.2
pyyaml-include==1.4.1
tokenizers==0.22.1
urllib3==2.5.0
numpy==2.2.6
click==8.3.1
lerobot==0.4.3
pytz==2025.2
toml==0.10.2
pyarrow==22.0.0
opencv-python==4.12.0.88
pynput==1.8.1
gym-pusht==0.1.6
inquirerpy==0.3.4
pydantic==2.12.5
ImageIO==2.37.2
propcache==0.4.1
sentry-sdk==2.47.0
wrapt==2.0.1
transformers==4.57.3
huggingface-hub==0.35.3
Farama-Notifications==0.0.4
networkx==3.4.2
pip==25.3
multidict==6.7.0
typing-inspect==0.9.0
av==15.1.0
idna==3.11
regex==2025.11.3
aiohttp==3.13.2
shapely==2.1.2
cffi==2.0.0
pyobjc-framework-CoreText==12.1
kiwisolver==1.4.9
tqdm==4.67.1
pyobjc-framework-Quartz==12.1
torch==2.7.1
pyparsing==3.2.5
diffusers==0.35.2
tzdata==2025.2
glfw==2.10.0
matplotlib==3.10.8
prompt_toolkit==3.0.52
certifi==2025.11.12
PyOpenGL==3.1.10
cmake==4.1.3
draccus==0.10.0
pybullet==3.2.5
charset-normalizer==3.4.4
sympy==1.14.0
multiprocess==0.70.16
jsonlines==4.0.0
torchvision==0.22.1
dm-tree==0.1.9
platformdirs==4.5.0
absl-py==2.3.1
gitdb==4.0.12
wandb==0.21.4
opencv-python-headless==4.12.0.88
python-dateutil==2.9.0.post0
mpmath==1.3.0
pillow==12.0.0
PyYAML==6.0.3
pymunk==6.11.1
num2words==0.5.14
labmaze==1.0.6
deepdiff==8.6.1
pydantic_core==2.41.5
frozenlist==1.8.0
hf_transfer==0.1.9
pyobjc-framework-ApplicationServices==12.1
typing_extensions==4.15.0
aiosignal==1.4.0
gymnasium==1.2.2
packaging==25.0
fsspec==2025.9.0
docopt==0.6.2
imageio-ffmpeg==0.6.0
cycler==0.12.1
hf-xet==1.2.0
Jinja2==3.1.6
wheel==0.45.1
pandas==2.3.3
setuptools==80.9.0
MarkupSafe==3.0.3
pygame==2.6.1
gym-aloha==0.1.3
dill==0.4.0
termcolor==3.2.0
pfzy==0.3.4
torchcodec==0.5
etils==1.13.0
aiohappyeyeballs==2.6.1
attrs==25.4.0
mujoco==3.3.7
einops==0.8.1
filelock==3.20.0
smmap==5.0.2
importlib_metadata==8.7.0
pyobjc-core==12.1
pyserial==3.5
safetensors==0.7.0
scipy==1.15.3
protobuf==6.33.1
orderly-set==5.5.0
psutil==7.1.3
lxml==6.0.2
typing-inspection==0.4.2
dm_control==1.0.34
zipp==3.23.0
annotated-types==0.7.0
accelerate==1.12.0
fonttools==4.61.1
dm-env==1.6
tifffile==2025.5.10
wcwidth==0.2.14
datasets==4.1.1
mypy_extensions==1.1.0
scikit-image==0.25.2
six==1.17.0
yarl==1.22.0
pycparser==2.23
importlib_resources==6.5.2
xxhash==3.6.0
lerobot==0.4.3
